@import url(sanitize.css);

body {
  background: #000;
}
.success-background {
  width: 100%;
  max-width: 1430px;
  /* background: chocolate; */
}

.facebook img {
  width: 25px;
  margin-top: -41px;
  margin-left: 90px;
  float: left;
}

.instagram img {
  width: 25px;
  float: left;
  margin-top: -40px;
  margin-left: 135px;
}

.twitter img {
  width: 25px;
  margin-left: 180px;
  margin-top: -39px;
  float: left;
}

.icon:hover {
  -webkit-animation: zoom 0.3s;
  animation: zoom 0.3s;
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.1);
  }
}

@keyframes zoom {
  50% {
    transform: scale(1.1);
  }
}

/*------------------------------
  ここから下がハンバーガーメニューに関するCSS
------------------------------*/

.drawer {
  margin-left: 25px;
  margin-top: 10px;
}

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  /* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 10px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 10px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: #5e2946;
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
  background: #fff;
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
  background: #fff;
}

/* メニューのデザイン*/
.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #5e2946;
  transition: 0.5s;
  color: #5e2946;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0px;
  /* メニューを画面に入れる */
  width: 450px;
  height: 720px;
  background-color: #5e2946;
}

a {
    text-decoration:none;
    color: #fff;
    font-family: 'Shippori Mincho', serif;
}

#li_h {
  /* text-align: center; */
  margin: 80px 190px;
  display: inline-block;
  transition: 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#li_h:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#li_a {
  /* text-align: center; */
  margin: 0 188px;
  display: inline-block;
  transition: 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#li_a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#li_w {
  /* text-align: center; */
  margin: 80px 192px;
  display: inline-block;
  transition: 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#li_w:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#li_n {
  /* text-align: center; */
  margin: 0 195px;
  display: inline-block;
  transition: 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#li_n:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* メール受付完了お知らせ */
.copywright {
  color: #fff;
  font-family: 'Shippori Mincho', serif;
  font-size: 12px;
  text-align: center;
  margin-top: 40px;
}

.success-message {
  background: #fff;
  width: 100%;
  max-width: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 130px;
  margin-top: 120px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.success {
  font-family: 'Shippori Mincho', serif;
}

.success-response {
  font-family: 'Shippori Mincho', serif;
}

.list {
  margin-left: 445px;
  padding-bottom: 70px;
}

#nav {
  list-style: none;
  overflow: hidden;
}

#nav li {
  width: 120px;
  text-align: center;
  float: left;
}

#nav li .link {
  text-decoration: none;
  font-weight: bold;
}

.link {
  color: #707070;
  display: inline-block;
  transition: 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.link:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
.success-background {
  max-width: 1024px;
}

.list {
  margin-left: 245px;
}
}

@media screen and (max-width: 768px) {
.list {
  margin-left: 100px;
}
}

@media screen and (max-width: 540px) {
.success-background {
  max-width: 540px;
}

.list {
  margin-left: -10px;
}

.success-message {
  max-width: 500px;
  padding-left: 90px;
}
}

@media screen and (max-width: 414px) {
.success-background {
  max-width: 370px;
  padding-left: 50px;
}

.copywright {
  font-size: 10px;
  padding-bottom: 15px;
}

.success-message {
  padding-left: 30px;
  padding-right: 10px;
}

.success {
  font-size: 15px;
}

.success-response {
  font-size: 12px;
}

#nav li {
  width: 70px;
}

.list {
  margin-left: -20px;
}

}

@media screen and (max-width: 375px) {
.success-background {
  max-width: 350px;
  padding-left: 20px;
  padding-right: 5px;
}

.success-message {
  padding-left: 30px;
}

.list {
  margin-left: -20px;
}
}

@media screen and (max-width: 320px) {
.success-background {
  max-width: 300px;
  padding-left: 20px;
  padding-right: 5px;
}

.success-message {
  padding-left: 30px;
}

.success {
  font-size: 14px;
}

.success-response {
  font-size: 10px;
}

.list {
  font-size: 14px;
  margin-left: -20px;
}

#nav li {
  width: 60px;
}
}

@media screen and (max-width: 280px) {
.success-background {
  padding-left: 10px;
  padding-right: 10px;
}

.success-message {
  padding-left: 20px;
  padding-right: 10px;
}

.list {
  font-size: 14px;
  margin-left: -30px;
}

}